<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.iton.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setchecknumServlet</servlet-name>
    <servlet-class>com.iton.Servlet.SetchecknumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setchecknumServlet</servlet-name>
    <url-pattern>/setchecknumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getchecknumServlet</servlet-name>
    <servlet-class>com.iton.Servlet.GetchecknumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getchecknumServlet</servlet-name>
    <url-pattern>/getchecknumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editimgServlet</servlet-name>
    <servlet-class>com.iton.Servlet.EditimgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editimgServlet</servlet-name>
    <url-pattern>/editimgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>detailinsuranceServlet</servlet-name>
    <servlet-class>com.iton.Servlet.DetailinsuranceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailinsuranceServlet</servlet-name>
    <url-pattern>/detailinsuranceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectinsuranceServlet</servlet-name>
    <servlet-class>com.iton.Servlet.SelectinsuranceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectinsuranceServlet</servlet-name>
    <url-pattern>/selectinsuranceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkuserServlet</servlet-name>
    <servlet-class>com.iton.Servlet.CheckuserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkuserServlet</servlet-name>
    <url-pattern>/checkuserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gethistoryServlet</servlet-name>
    <servlet-class>com.iton.Servlet.GethistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gethistoryServlet</servlet-name>
    <url-pattern>/gethistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.iton.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertrecordServlet</servlet-name>
    <servlet-class>com.iton.Servlet.InsertrecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertrecordServlet</servlet-name>
    <url-pattern>/insertrecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getrecordServlet</servlet-name>
    <servlet-class>com.iton.Servlet.GetrecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getrecordServlet</servlet-name>
    <url-pattern>/getrecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getinsuranceServlet</servlet-name>
    <servlet-class>com.iton.Servlet.GetinsuranceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getinsuranceServlet</servlet-name>
    <url-pattern>/getinsuranceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgetpwdServlet</servlet-name>
    <servlet-class>com.iton.Servlet.ForgetpwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetpwdServlet</servlet-name>
    <url-pattern>/forgetpwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userinfoServlet</servlet-name>
    <servlet-class>com.iton.Servlet.UserinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userinfoServlet</servlet-name>
    <url-pattern>/userinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editnicknameServlet</servlet-name>
    <servlet-class>com.iton.Servlet.EditnicknameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editnicknameServlet</servlet-name>
    <url-pattern>/editnicknameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editsexServlet</servlet-name>
    <servlet-class>com.iton.Servlet.EditsexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editsexServlet</servlet-name>
    <url-pattern>/editsexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editcityServlet</servlet-name>
    <servlet-class>com.iton.Servlet.EditcityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editcityServlet</servlet-name>
    <url-pattern>/editcityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changepwdServlet</servlet-name>
    <servlet-class>com.iton.Servlet.ChangepwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepwdServlet</servlet-name>
    <url-pattern>/changepwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editdateServlet</servlet-name>
    <servlet-class>com.iton.Servlet.EditdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editdateServlet</servlet-name>
    <url-pattern>/editdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exitServlet</servlet-name>
    <servlet-class>com.iton.Servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exitServlet</servlet-name>
    <url-pattern>/exitServlet</url-pattern>
  </servlet-mapping>
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>